.btn {
    background-color: darkred;
    color: whitesmoke;
}

.center-text {
    text-align: center;
}

.exit-btn {
    height: 20px;
    margin-left: 100px;
}

.heading {
    display: inline;
}

.hide {
    display: none;
}

.menu {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.menu-btn {
    width: 200px;
    height: 40px;
}

.timer {
    font-weight: bolder;
}