@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --theme-color: darkblue;
    --dark-theme-color: pink;
}

body {
    font-family: Source-Sans-Pro;
}

ol {
    list-style: decimal;
}

ul, ol {
    margin-left: 20px;
}

.btn {
    background-color: var(--theme-color);
    color: whitesmoke;
    border-color: transparent;
    border-radius: 45px;
}

@media (prefers-color-scheme: dark) {
    .btn {
        background-color: var(--dark-theme-color);
    }
}