@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    --theme-color: darkblue;
    font-family: Source-Sans-Pro;
    color: var(--theme-color);
}

svg {
    display: inline;
    fill: var(--theme-color);
}

.blue-bg {
    background-color: blue;
    color: whitesmoke;
    max-width: 500px;
}

.btn {
    height: 100px;
    background-color: var(--theme-color);
    color: whitesmoke;
    border-color: transparent;
    border-radius: 45px;
}

.currentTurn {
    font-style: italic;
    text-decoration: underline;
}

.exit-btn {
    height: 60px;
}

@media (prefers-color-scheme: dark) {
    body {
        --dark-theme-text-color: pink;
        background-color: var(--theme-color);
        color: var(--dark-theme-text-color);
    }

    .btn {
        background-color: var(--dark-theme-text-color);
    }
    
    svg {
        fill: var(--dark-theme-text-color);
    }
}