@font-face {
    font-family: DiloWorld;
    src: url('DiloWorld-mLJLv.ttf');
}

.text {
    font-family: DiloWorld;
    font-size: 1.75em;
}

.blue-bg {
    background-color: blue;
}

.btn {
    height: 100px;
    background-color: darkred;
    color: whitesmoke;
}

.center-text {
    text-align: center;
}

.green-text {
    color: greenyellow;
}

.heading {
    display: inline;
}

.hide {
    display: none;
}

.menu {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

.menu-btn {
    width: 100%;
    margin-top: 100px;
}

.red-text {
    color: red;
}